# Canbus-projektissa käytetyt python-kirjastot:
# Lisätietoa esim: 
# https://www.geeksforgeeks.org/how-to-create-requirements-txt-file-in-python/
# https://www.geeksforgeeks.org/how-to-install-python-packages-with-requirements-txt/
cantools==40.2.1
diffprivlib==0.6.5
matplotlib==3.10.1
pandas==2.2.3
